{% extends "base.html" %}
{% block content %}

<h3>Allocate Resources</h3>

<form method="POST">
    <select class="form-control mb-2" name="event_id" required>
        <option value="">Select Event</option>
        {% for e in events %}
            <option value="{{ e.event_id }}">{{ e.title }}</option>
        {% endfor %}
    </select>

    <label>Select Resources</label>
    {% for r in resources %}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="resource_ids" value="{{ r.resource_id }}">
            <label class="form-check-label">
                {{ r.resource_name }} ({{ r.resource_type }})
            </label>
        </div>
    {% endfor %}

    <button class="btn btn-success mt-3">Allocate</button>
</form>

{% endblock %}
