{% extends "base.html" %}
{% block content %}

<h3>Resources</h3>

<form method="POST" action="{{ url_for('resources.add_resource') }}" class="mb-3">
    <input class="form-control mb-2" name="resource_name" placeholder="Resource Name" required>
    <input class="form-control mb-2" name="resource_type" placeholder="Type (Room / Instructor / Equipment)" required>
    <button class="btn btn-success">Add Resource</button>
</form>

<table class="table custom-table">
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Action</th>
    </tr>
    {% for r in resources %}
    <tr>
        <td>{{ r.resource_name }}</td>
        <td>{{ r.resource_type }}</td>
        <td>
            <a class="btn btn-sm btn-primary" href="{{ url_for('resources.edit_resource', resource_id=r.resource_id) }}">Edit</a>
                <form method="POST"
                    action="{{ url_for('resources.delete_resource', resource_id=r.resource_id) }}"
                    style="display:inline;"
                    onsubmit="return confirm('Are you sure you want to delete this resource?');">
                    <button class="btn btn-sm btn-danger" type="submit">
                        Delete
                    </button>
                </form>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
